*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}
.header{
    background-color:#31493B;
    font-family: "Noto Sans", sans-serif;
    color: white;
    text-align:center;
    padding:2.25%;
    position:fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}
nav ul {
    list-style-type: none;
    margin-top: 6%;
    padding: 0%;
    overflow: hidden;
    background-color: #42654F;
    display:flex;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
}
nav li {
    width:5%
}
nav li a {
    display:block;
    color: white;
    text-align: center;
    padding: 14% 16%;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
 }
 .whole{
    display: flex;
    font-family: "Noto Sans", sans-serif;
    margin:6%;
    margin-top:2.5%;
    
}
.images {
    width:100%;
    margin:0.5%;
    padding-top: 1%; 
    
}
.images img {
    width:45%;
    height: 15%;
    border-radius: 50%;
}
.profile-pic{
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    margin-left: auto;
    margin-right:auto;
}
.icon-images{
    margin:2%;
    margin-top: 10%;
    padding-left:25%;
}
.icons {
    display: flex;
}


.icon-details{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 1%;
}

.icon-images img{
    width:10%;
    height: 10%;
    border-radius: 50%;
    padding:1%;
    font-family: "Noto Sans", sans-serif;
}
.about{
    
    margin:0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.skills{
    
    margin:0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.skills ul{
    display: flex;
    list-style: none;
}
.skills li{
    margin:1%;
    width:7%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border: 2px solid black;
    text-align: center;
}
.experience{
    
    margin:0.5%;
    padding-top: 1%;
    padding-bottom:1%;
    padding-left:1%;
    padding-right:1%;
}
.hobbies{
    
    margin:0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.hobbies ul{
    display: flex;
    list-style: none;
}
.hobbies li{
    margin:1%;
    width:14%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border: 2px solid black;
    text-align: center;
}
footer{
    background-color:#31493B;
    text-align:center;
    padding:2.25%;
    position:fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    font-family: "Noto Sans", sans-serif;
    color: white;
}
